{% load static %}

<ul>
    {% if request.user.is_authenticated %}
        <li>
            Welcome, {{request.user.username}}
        </li>
        <li>
            <a href="{% url 'logout' %}">Click this to logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login' %}">Click this to login</a>
        </li>
        <li>
            <a href = "{% url 'signup' %}">Sign up</a>
        </li>
    {% endif %}
</ul>

<div>
    <a href ="{% url 'make_post' %}"> Make post</a>
</div>


<div>
    {% for post in object_list %}
        <a href="{% url 'post_detail' post.id %}">
            <img src = "/{{post.image}}">
        </a>
    {% endfor %}
</div>